<template name="LawyerInstructions">
	<div class="page-container container">
		<div class="row">
			<div class="col-md-12" id="content">
				<div class="row" id="title_row">
					<div class="col-md-12">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="menu" class="col-sm-3 col-md-2">
				<h2>
				</h2>
				{{> LawyerInstructionsSideMenu}}
			</div>
			<div id="subcontent" class="col-sm-9 col-md-10">
				{{> yield region='LawyerInstructionsSubcontent'}}
			</div>
		</div>
	</div>
</template>

<template name="LawyerInstructionsSideMenu">
	<ul id="menu-items" class="nav nav-stacked nav-pills">
		<li id="menu-item-simple" class="{{menuItemClass 'lawyer_instructions.lawyer_instructions_pending'}}">
			<a href="{{pathFor 'lawyer_instructions.lawyer_instructions_pending'}}">
				<span class="item-title">
					Lawyer Instructions Pending
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'lawyer_instructions.lawyer_instructions_closed'}}">
			<a href="{{pathFor 'lawyer_instructions.lawyer_instructions_closed'}}">
				<span class="item-title">
					Lawyer Instructions Closed
				</span>
			</a>
		</li>
	</ul>
</template>

