<template name="ComplaintsComplaintsPending">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> ComplaintsComplaintsPendingView}}
	</div>
</template>

<template name="ComplaintsComplaintsPendingView">
	<div id="complaints-complaints-pending-view" class="">
		<h2 id="component-title">
			Pending Complaints
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-insert" class="form-group {{insertButtonClass}}">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="input-group">
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<span class="input-group-btn">
						<button type="button" id="dataview-search-button" class="btn btn-primary">
							<span class="fa fa-search">
							</span>
						</button>
					</span>
				</div>
			</div>
			<div id="dataview-controls-export" class="form-group">
				{{#if isNotEmpty}}
				<div class="btn-group">
					<button type="button" class="btn btn-default" id="dataview-export-default">
						Export
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret">
						</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" id="dataview-export-csv">
								Export to CSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-tsv">
								Export to TSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-json">
								Export to JSON
							</a>
						</li>
					</ul>
				</div>
				{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> ComplaintsComplaintsPendingViewTable}} {{/if}}
		</div>
		<nav aria-label="...">
			<ul class="pager">
				{{#if gotPrevPage}}
				<li>
					<a href="#" class="prev-page-link">
						Previous page
					</a>
					&nbsp;
				</li>
				{{/if}}
					{{#if gotNextPage}}
				<li>
					&nbsp;
					<a href="#" class="next-page-link">
						Next page
					</a>
				</li>
				{{/if}}
			</ul>
		</nav>
		{{else}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
		{{/if}}
	</div>
</template>

<template name="ComplaintsComplaintsPendingViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="complaint_date">
					Date of Complaint
				</th>
				<th class="th-sortable" data-sort="unit">
					Credit Ops Unit
				</th>
				<th class="th-sortable" data-sort="staff_name">
					Name of Staff
				</th>
				<th class="th-sortable" data-sort="complainant">
					Name of Complainant
				</th>
				<th class="th-sortable" data-sort="is_staff">
					Complainant is Staff
				</th>
				<th class="th-sortable" data-sort="complainant_contact">
					Contact of Complainant
				</th>
				<th class="th-sortable" data-sort="complaint_description">
					Brief Description of Complaint
				</th>
				<th class="th-sortable" data-sort="how_resolved">
					Resolution/ Update
				</th>
				<th class="th-sortable" data-sort="status">
					Status
				</th>
				<th class="th-sortable" data-sort="date_closed">
					Date Closed
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each complaints_pending_paged}} {{> ComplaintsComplaintsPendingViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="ComplaintsComplaintsPendingViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{formatDate complaint_date 'DD/MM/YYYY'}}
		</td>
		<td>
			{{unit}}
		</td>
		<td>
			{{staff_name}}
		</td>
		<td>
			{{complainant}}
		</td>
		<td>
			{{is_staff}}
		</td>
		<td>
			{{complainant_contact}}
		</td>
		<td>
			{{complaint_description}}
		</td>
		<td>
			{{how_resolved}}
		</td>
		<td>
			{{status}}
		</td>
		<td>
			{{formatDate date_closed 'DD/MM/YYYY'}}
		</td>
		<td class="td-icon">
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</span>
		</td>
		<td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete">
			</span>
		</td>
	</tr>
</template>

