<template name="AuditConfirmationsAuditConfirmationsClosed">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> AuditConfirmationsAuditConfirmationsClosedView}}
	</div>
</template>

<template name="AuditConfirmationsAuditConfirmationsClosedView">
	<div id="audit-confirmations-audit-confirmations-closed-view" class="">
		<h2 id="component-title">
			Closed Audit Confirmations
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="input-group">
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<span class="input-group-btn">
						<button type="button" id="dataview-search-button" class="btn btn-primary">
							<span class="fa fa-search">
							</span>
						</button>
					</span>
				</div>
			</div>
			<div id="dataview-controls-export" class="form-group">
				{{#if isNotEmpty}}
				<div class="btn-group">
					<button type="button" class="btn btn-default" id="dataview-export-default">
						Export
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret">
						</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" id="dataview-export-csv">
								Export to CSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-tsv">
								Export to TSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-json">
								Export to JSON
							</a>
						</li>
					</ul>
				</div>
				{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> AuditConfirmationsAuditConfirmationsClosedViewTable}} {{/if}}
		</div>
		<nav aria-label="...">
			<ul class="pager">
				{{#if gotPrevPage}}
				<li>
					<a href="#" class="prev-page-link">
						Previous page
					</a>
					&nbsp;
				</li>
				{{/if}}
					{{#if gotNextPage}}
				<li>
					&nbsp;
					<a href="#" class="next-page-link">
						Next page
					</a>
				</li>
				{{/if}}
			</ul>
		</nav>
		{{else}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
		{{/if}}
	</div>
</template>

<template name="AuditConfirmationsAuditConfirmationsClosedViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="date_received">
					Date Received
				</th>
				<th class="th-sortable" data-sort="customer_name">
					Customer Name
				</th>
				<th class="th-sortable" data-sort="customer_number">
					Customer Number
				</th>
				<th class="th-sortable" data-sort="sender">
					Sender
				</th>
				<th class="th-sortable" data-sort="branch">
					Branch
				</th>
				<th class="th-sortable" data-sort="year_of_audit">
					Year of Audit
				</th>
				<th class="th-sortable" data-sort="charges_collected">
					Charges Collected?
				</th>
				<th class="th-sortable" data-sort="amount_collected">
					Amount Collected
				</th>
				<th class="th-sortable" data-sort="date_dispatched">
					Date Dispatched To Branch
				</th>
				<th class="th-sortable" data-sort="status">
					Status
				</th>
				<th class="th-sortable" data-sort="comments">
					Comments (If Any)
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each audits_closed_paged}} {{> AuditConfirmationsAuditConfirmationsClosedViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="AuditConfirmationsAuditConfirmationsClosedViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{formatDate date_received 'DD/MM/YYYY'}}
		</td>
		<td>
			{{customer_name}}
		</td>
		<td>
			{{customer_number}}
		</td>
		<td>
			{{sender}}
		</td>
		<td>
			{{branch}}
		</td>
		<td>
			{{year_of_audit}}
		</td>
		<td>
			{{charges_collected}}
		</td>
		<td>
			{{amount_collected}}
		</td>
		<td>
			{{formatDate date_dispatched 'DD/MM/YYYY'}}
		</td>
		<td>
			{{status}}
		</td>
		<td>
			{{comments}}
		</td>
		<td class="td-icon">
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</span>
		</td>
	</tr>
</template>

