<template name="BrdsBrdsPending">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Pending BRDs
				</h2>
			</div>
		</div>
		{{> BrdsBrdsPendingView}}
	</div>
</template>

<template name="BrdsBrdsPendingView">
	<div id="brds-brds-pending-view" class="">
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-insert" class="form-group {{insertButtonClass}}">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="input-group">
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<span class="input-group-btn">
						<button type="button" id="dataview-search-button" class="btn btn-primary">
							<span class="fa fa-search">
							</span>
						</button>
					</span>
				</div>
			</div>
			<div id="dataview-controls-export" class="form-group">
				{{#if isNotEmpty}}
				<div class="btn-group">
					<button type="button" class="btn btn-default" id="dataview-export-default">
						Export
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret">
						</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" id="dataview-export-csv">
								Export to CSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-tsv">
								Export to TSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-json">
								Export to JSON
							</a>
						</li>
					</ul>
				</div>
				{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> BrdsBrdsPendingViewTable}} {{/if}}
		</div>
		<nav aria-label="...">
			<ul class="pager">
				{{#if gotPrevPage}}
				<li>
					<a href="#" class="prev-page-link">
						Previous page
					</a>
					&nbsp;
				</li>
				{{/if}}
					{{#if gotNextPage}}
				<li>
					&nbsp;
					<a href="#" class="next-page-link">
						Next page
					</a>
				</li>
				{{/if}}
			</ul>
		</nav>
		{{else}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
		{{/if}}
	</div>
</template>

<template name="BrdsBrdsPendingViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="description">
					BRD Description
				</th>
				<th class="th-sortable" data-sort="ict_contact">
					To (ICT Contact Person)
				</th>
				<th class="th-sortable" data-sort="raised_by">
					Raised By (Unit)
				</th>
				<th class="th-sortable" data-sort="date_raised">
					Date Raised
				</th>
				<th class="th-sortable" data-sort="expected_date_of_closure">
					Expected Date Of Closure
				</th>
				<th class="th-sortable" data-sort="status">
					Status
				</th>
				<th class="th-sortable" data-sort="remarks">
					Remarks
				</th>
				<th class="th-sortable" data-sort="date_closed">
					Date Closed
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each brds_pending_paged}} {{> BrdsBrdsPendingViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="BrdsBrdsPendingViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{description}}
		</td>
		<td>
			{{ict_contact}}
		</td>
		<td>
			{{raised_by}}
		</td>
		<td>
			{{formatDate date_raised 'DD/MM/YYYY'}}
		</td>
		<td>
			{{formatDate expected_date_of_closure 'DD/MM/YYYY'}}
		</td>
		<td>
			{{status}}
		</td>
		<td>
			{{remarks}}
		</td>
		<td>
			{{formatDate date_closed 'DD/MM/YYYY'}}
		</td>
		<td class="td-icon">
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</span>
		</td>
		<td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete">
			</span>
		</td>
	</tr>
</template>

